.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-container p {
    margin-top: 10px;
    font-size: 18px;
  }

  @media (max-width: 768px) {
    .AU64fe {
        display: block !important;
      }
      .bYhoud {
        width: 100% !important;
      }
  }

